

.headerH {
    background-color: aliceblue;
     display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%; */
    height: 934px;
    width: 50%;
    margin: auto;
}

.name {
    position: absolute; 
    top: 0;
    color: gray;
   
}

.btnRedact{
    cursor: pointer;
}


.input1{
   display: block;
    margin: 20px auto 30px;
   
}
.btnSave {
    cursor: pointer;
    
}

.Border {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border: solid 2px;
    border-radius: 8px ;
    border-color: rgb(255, 126, 147); 
    height: 14px;
    width: 14px;
    
}

.Border:active {
   
    
}

.lessons {
  padding: 70px;
  padding-bottom: 400px;
  width: 100%;
  position: relative;
  margin-top: 200px;
}

.flex {
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 30px;
    background-color: rgb(213, 240, 255);
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 100%;
    cursor: pointer;
    justify-content: space-between;
     
}

.backBroder{
    border: none;
    background-color: rgb(213, 240, 255);
    display: flex;
    align-items: center;
    cursor: pointer;
    word-wrap: break-word;
    width: 100%;
    resize: both;
    overflow: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    resize: none;
}

.ContaineraddNewTodo{
      display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: rgb(213, 240, 255);
    border-radius: 5px;
     height: 40px;
     width: 85%;
    cursor: pointer;
    justify-content: space-between;
    position: absolute;
    top: 0;
     resize: none;
}

.addNewTodo{
    border: none;
    background-color: transparent;
    width: 70%;
    height: 90%;
    outline: none;
    text-align: center;
    text-align: left;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    resize: none;
}
.clear{
    transition:color 300ms ease-in-out;
    border: none;
    background-color: rgb(213, 240, 255);
    padding-right: 20px;
    
}
.clear:hover {
    color: red;
    
}

.addBtn {
    outline: none;
    border: none;
    height: 100%;
    background-color: rgb(213, 240, 255);
    padding-right: 20px;
    cursor: pointer;
    transition:color 300ms ease-in-out;
}

.addBtn:hover {
    color: rgba(103, 250, 111, 0.986);
}

.saveBtn {
     outline: none;
    border: none;
    height: 100%;
    background-color: rgb(213, 240, 255);
    margin-right: 46px;
    cursor: pointer;
    transition:color 150ms ease-in-out;
}

.saveBtn:hover {
   color: rgba(103, 250, 111, 0.986);
}

.updateBtn {
     outline: none;
    border: none;
    height: 100%;
    background-color: rgb(213, 240, 255);
     overflow: hidden;
    margin-left: auto;
    cursor: pointer;
    transition:color 150ms ease-in-out;
}
.updateBtn :hover {
color: rgba(114, 116, 55, 0.986);
}

.editInput{
    border: none;
    background-color: transparent;
    width: 90%;
    height: 90%;
    outline: none;
    resize: none;
}

@media (min-width: 320px) {
    .headerH {
        width: 100%;
    }

    .lessons {
        padding: 0;
        width: 90%;
        height: 80%;
        padding-top: 70px;
    }

    .ContaineraddNewTodo{
        width: 100%;
    }
    
    .addNewTodo {
        width: 100%;
        word-wrap: break-word;
        height: 100%;
    }

    .Border {
        margin-right: 20px;
        position: absolute;
    }

}